/* src/components/ProfilePicture.css */
.profile {
    width: 500px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    border-radius: 50%; /* To make the image circular */

}
